
.wrapper{
    padding: 5px 0;
    display: flex;
    justify-content: center;

    .container{
        display: flex;
        width: 100%;
        height: 100%;
        color: #000;
        align-items: center;
        .image{
            position: relative;
            max-width: 21%;
            height: 100%;
            border-radius: 10px;
            overflow: hidden;
            background-color: #888585;
            @media (max-width: 820px) {
                max-width: 25%;
            }
            @media (max-width: 620px) {
                max-width: 35%;
            }
            .favorite{
                cursor: pointer;
                position: absolute;
                background: #fff;
                border-radius: 50px;
                padding: 5px 5px 2px;
                box-shadow: 0 0 5px 1px #000;
                right: 0;
                margin: 5px 5px 0 ;
            }
            img{
                object-fit: cover;
                display: block;
                max-width: 100%;
                height: 100%;
            }
        }
        .info{
            font-size: 18px;
            color: #000;
            display: flex;
            gap: 10px;
            @media (max-width: 820px) {
                flex-direction: column;
                align-items: flex-end;
                gap:5px;
                font-size: 14px;
            }
                 @media (max-width: 420px) {
                    gap: 2px;
                    font-size: 12px;
                }
            .title{
                @media (max-width: 620px) {
                    padding: 3px 5px;
                }
            }
            .priceContainer{
                display: flex;
                flex-direction: column;
                gap: 10px;
                @media (max-width: 620px) {
                    gap: 2px;
                    font-size: 12px;
                }
                @media (max-width: 420px) {
                    flex-direction: column;
                }
                button{
                    border: 0;
                    padding: 9px 10px;
                    border-radius: 8px;
                    background-color: #E5FA3C;
                    @media (max-width: 620px) {
                        padding: 3px 5px;
                    }
                }
            }
        }
    }
}