.wrapper{
    a{
        text-decoration: none;
    }
    button{
        background: transparent;
        border: none;
    }
    .cover{
        padding:5%;
        background: linear-gradient(90deg, #E5FA39 0%, #FC8B48 100%);
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 11px;
        font-weight: 400;
        .title{
            font-size: 4vw;
            @media (max-width: 1280px) {
                text-align: center;
                font-size: 6vw;
            }
            @media (max-width: 420px) {
                text-align: center;
                font-size: 8vw;
            }
        }
        .subTitle{
            font-size: 2vw;
            @media (max-width: 1280px) {
                text-align: center;
                width: 100%;
                font-size: 4vw;
            }   
            @media (max-width: 420px) {
                text-align: center;
                font-size: 6vw;
            }             
        }
    }
    .history{
        padding: 80px;
        @media (max-width: 680px) {
            padding: 20px;
        }
        .container{
            display: flex;
            justify-content: center;
            gap: 48px;
            .img{
                max-width: 600px;
                width: 50%;
                order: 1;
                @media (max-width: 1280px) {
                    display: none;
                }
                img{
                    display: block;
                    border-radius: 10px;
                    max-height: 384px;
                    width: 100%;
                }
            }
            .text{
                word-spacing: 0.4em;
                flex-shrink: 1;
                width: 50%;
                display: flex;
                flex-direction: column;
                gap: 26px;
                max-width: 600px;
                @media (max-width: 1280px) {
                    width: 100%;
                    max-width: none;
                    justify-content: center;
                }
                .title{
                    color: #000;
                    font-size: 3vw;
                    font-weight: 400;
                    @media (max-width: 1280px) {
                        font-size: 6vw;
                    }
                    @media (max-width: 420px) {
                        font-size: 8vw;
                    }
                }
                .subTitleFirst{
                    color: #374151;
                    font-size: 2vw;
                    font-style: normal;
                    font-weight: 400;
                    @media (max-width: 1280px) {
                        font-size: 3vw;
                    }
                    @media (max-width: 420px) {
                        font-size: 5vw;
                    }
                }
                .subTitleSecond{
                    color: #374151;
                    font-size: 2vw;
                    font-style: normal;
                    font-weight: 400;
                    @media (max-width: 1280px) {
                        font-size: 3vw;
                    }
                    @media (max-width: 420px) {
                        font-size: 5vw;
                    }
                }
                .info{
                    font-size:1.7vw;
                    display: flex;
                    gap: 24px;
                    @media (max-width: 1280px) {
                        font-size: 3vw;
                    }
                    .experience{
                        padding: 14px 24px;
                        border-radius: 30px;
                        border: 0 solid #E5E7EB;
                        background: #E5FA39;
                    }
                    .clients{
                        padding: 14px 24px;
                        border-radius: 30px;
                        border: 0 solid #E5E7EB;
                        background: #FB6D41;
                        color: #ffff;
                    }

                }
            }
        }
    }
    .values{
        padding-top: 20px;
        background: #F9FAFB;
        .title{
            text-align: center;
            color: #000;
            font-size: 3vw;
            font-style: normal;
            font-weight: 400;
            @media (max-width: 1280px) {
                font-size: 6vw;
            }
        }
        .cards{
            padding-top: 40px;
            display: flex;
            justify-content: center;
            gap: 32px;
            padding: 4% 10%;
            flex-wrap: wrap;
            .cardFirst, .cardSecond, .cardThird{
                padding: 32px;
                width:25%;
                @media (max-width: 1280px) {

                    flex: 30%;
                }
                    @media (max-width: 768px) {
                    flex: 50%;
                }
                border-radius: 8px;
                border: 0 solid #E5E7EB;
                background: #FFF;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10), 0 4px 6px 0 rgba(0, 0, 0, 0.10);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                gap: 17px;
                
                .subTitle{
                    color: #4B5563;
                    text-align: center;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

            }
            .yellow, .black, .orange{
                padding: 16px;
                border-radius: 50%;
            }
            .yellow{
                background-color:#E5FA39;
            }
            .black{
                background-color: #000;
            }
            .orange{
                background-color: #FB6D41;
            }
        }
    }
    .achievements{
        margin-top: 60px;
        padding: 60px;
        background-color: #000;
        color: #fff;
        .title{
            text-align: center;
            font-size: 36px;
            font-weight: 400;
            @media (max-width: 555px) {
                text-align: left;
                font-size: 28px;
            }
        }
        .info{
            margin: 53px auto 0px;
            text-align: center;
            width: 60%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @media (max-width: 830px) {
                gap: 20px;
                width: 100%;
            }
            .experience{
 
                .number{
                    font-size: 36px;
                    font-weight: bold;
                    color: #E5FA39;
                    margin-bottom: 10px;
                    @media (max-width: 555px) {
                        text-align: left;
                    }
                }
                .subTitle{
                    color: #D1D5DB;
                    @media (max-width: 555px) {
                    text-align: left;
                    }
                }
            }
            .clients{
                .number{
                    font-size: 36px;
                    font-weight: bold;
                    color: #FB6D41;
                    margin-bottom: 10px;
                    @media (max-width: 555px) {
                        text-align: left;
                    }
                }
                .subTitle{
                    color: #D1D5DB;
                    @media (max-width: 555px) {
                        text-align: left;
                    }
                }
            }
            .species{
                .number{
                    font-size: 36px;
                    font-weight: bold;
                    color: #E5FA39;
                    margin-bottom: 10px;
                    @media (max-width: 555px) {
                        text-align: left;
                    }
                }
                .subTitle{
                    color: #D1D5DB;
                    @media (max-width: 555px) {
                        text-align: left;
                    }
                }
            }
        }
    }
    .Ready{
        border: 0 solid #E5E7EB;
        background: linear-gradient(90deg, #E5FA39 0%, #FB6D41 100%);
        padding: 5%;
        text-align: center;
        @media (max-width: 830px) {
            padding: 5% 20px;
        }
        @media (max-width: 420px) {
            padding: 10% 20px;
        }
        .title{
            color: #000;
            text-align: center;
            font-size: 36px;
            font-weight: 400;
            @media (max-width: 420px) {
                font-size: 24px;
                margin-bottom: 20px;
            }
        }
        .subTitle{
            margin: 20px auto;
            width: 38%;
            color: #000;
            font-size: 20px;
            font-weight: 400; 
            @media (max-width: 830px) {
                width: 80%;
            }
            @media (max-width: 420px) {
                font-size: 16px;
            }
        }
        .buttons{
            display: flex;
            justify-content: center;
            font-size: 16px;
            gap: 16px;
            @media (max-width: 555px) {
                flex-direction: column;
            }
            .call{
                padding: 18px 32px;
                display: flex;
                gap: 8px;
                border-radius: 8px;
                background: #000;
                align-items: center;
                @media (max-width: 830px) {
                    padding: 12px 16px;
                }
                p{
                    margin-top: 2px;
                    color: #fff;
                }
            }
            .write{
                p{
                color: #000;
                }

                padding: 18px 32px;
                display: flex;
                gap: 8px;
                border-radius: 8px;
                background: #ffff;
                                @media (max-width: 830px) {
                    padding: 12px 16px;
                }
            }
        }
    }
}