


html, body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #F9FAFB ; 
    position: relative;
    font-style: normal;
    font-family: "Podkova", serif !important;

}
input, button, a{
    font-family: "Podkova", serif !important;
}
.root{
    height: 100%;
}
.app{
    position: relative;
    height: 100%;
    width: 100%;
}
.wrapper{
    position: relative;
    height: 100%;
    width: 100%;
}
.loader{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}