server/node_modules/
server/static/

client/src/assets/Копия e6543243-f46f-4242-a861-594b08ce2c37.png
.gitignore
client/src/assets/ленина.jpg
.gitignore
.gitignore
client/src/assets/Краснооктярьская.jpg
client/src/assets/мерлина.jpg
