.wrapper {
    margin:5% 0;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: -1px 0px 8px 7px rgba(34, 60, 80, 0.2);
    background-color: #0000009c;
    width: 280px;
    overflow: hidden;
    @media (max-width: 1280px) {
        width: 200px;
    }
    @media (max-width: 1024px) {
        width: 250px;
    }

    .container{
        position: relative;
        padding: 10px auto;
        height: 100%;
        .favorite{
            cursor: pointer;
            position: absolute;
            background: #fff;
            border-radius: 50px;
            padding: 7px 7px 3px;
            box-shadow: 0 0 5px 1px #000;
            right: 0;
            margin: 15px 15px 0 ;
        }
        .image{
        img{
            object-fit: cover;
            width: 280px;
            height: 200px;
            @media (max-width: 1280px) {
                width: 200px;
                height: 180px;
            }
            @media (max-width: 1024px) {
                width: 250px;
                height: 200px;
            }
        }
        }
        .info{
            display: flex;
            flex-direction: column;
            padding: 9px 6px;
            overflow-wrap: break-word;;
            justify-content: space-between;
            .title{
                text-align: center;
                height: 26px;
            @media (max-width: 1280px) {
                text-align: center;
            }
             @media (max-width: 620px) {
                font-size: 14px;
            }
            }
            .description{
                display: block;
            @media (max-width: 1280px) {
                text-align: center;
            }
            }
            .palette{
                display: flex;
                flex-wrap: wrap;
                padding-top:5px ;
                height: 30px;
                overflow: scroll;
                .paletteContainer{
                    padding: 3px 5px;
                    width: 8px;
                    height: 8px;
                    input{
                        caret-color: transparent !important;
                    }
                    .paletteItem{
                        cursor: pointer;
                        width: 8px;
                        height: 8px;
                        color: transparent;
                        border: 0;
                    }
                    .paletteChosen{
                        
                        cursor: pointer;
                        width: 8px;
                        height: 8px;
                        color: transparent;
                        border: 1px solid #111
                    }
                    .numberItem{
                        cursor: pointer;
                        border: 1px solid #ffffff;
                    }
                    .numberChosen{
                        cursor: pointer;
                        border: 1px solid #FB6D41;
                    }
                    .noPalettes{
                        height: 37px;
                        color: #ffffff1c;
                    }
                }
            }
            color: #fff;
           .priceContainer{
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: 5% 2% ;
                 @media (max-width: 1280px) {
                    flex-direction: column;
                    gap: 5px;
                    
                }
                span{
                   color: #FB6D41;
                   font-weight: bold;
                }
                button{
                    color: #fff;
                    border: 0;
                    padding: 8px 9px;
                    border-radius: 8px;
                    background-color: #FB6D41;
                    transition: 0.5s;
                }
                button:active{
                    background-color: #fff;
                    color:#FB6D41 ;
                }
           }
            h4{
                font-size: 18px;
                text-transform:uppercase;
            }
        }
    }

}