.wrapper {
    background: linear-gradient(90deg, #E5FA39 0%, #FB6D41 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 100%;
    .continer{
        width: 30%;
        padding: 10% 0;
            @media(max-width: 1020px){
                width: 55%;
            }
            @media(max-width: 600px){
                width: 70%;
            }
        .item{
            width: 100%;
            border-radius: 20px;
            background-color: #fff;
            padding: 5% 4%;
            // @media(max-width: 1020px){
            //     width: 50%;
            // }

            .title {
                padding: 2% 0;
                text-align: center;
                font-size: 24px;
            }
            .inputContiner{
                margin-top:20px;
                display: flex;
                flex-direction: column;
                gap: 15px;
                align-items: center;
                input{
                    width: 80%;
                    border-radius: 20px;
                    border: 2px solid #000000b0;
                    font-size: 18px;
                    padding: 15px ;
                }
            }
            .buttons{
                margin-top:20px ;
                display: flex;
                gap: 10px;
                align-items: center;
                flex-direction: column;
                .main{
                    font-size: 18px;
                    color: #fff;
                    background-color: #FB6D41;
                    border: 0;
                    padding: 3% 6%;
                    border-radius: 20px;
                    transition: 0.4s;
                }
                .main:hover{
                        transition: 0.4s;
                        background-color: #fff;
                        border: 2px solid #FB6D41;
                        color: #FB6D41;
                }
                .alter{
                    font-size: 16px;
                    cursor: pointer;
                    background: transparent;
                    border: 0;
                    text-decoration: underline;
                }
                }

            
        }
        .messages{
            margin-top: 15px;
            display: flex;
            justify-content: center;
            color: red;
            font-size: 18px;

        }
    }
}