
.container{
    position: relative;
    overflow: hidden;
    border-radius: 16%;
    box-shadow: -1px 0px 8px 7px rgba(34, 60, 80, 0.2);
    max-width: 220px;
    max-height: 200px;
    .link{
        img{
            object-fit: cover;
            width: 220px;
            height: 200px;
            @media (max-width: 1280px) {
                width: 170px;
                height: 150px;
            }
            @media (max-width: 401px) {
                width: 120px;
                height: 100px;
            }
        }
        h4{
            bottom: 24%;left: 0;
            padding: 0 10px;
            position: absolute;
            z-index: 3;
            font-size: 2.5vw;
            color: #ffff;
            font-size: 28px;
            @media (max-width: 401px) {
                font-size: 14px;
            }
        }
        p{
            bottom: 10%;left: 0;
            padding: 0 10px;
            position: absolute;
            z-index: 3;
            font-size: 1.4vw;
            color: #ffff;
            font-size: 18px;
            @media (max-width: 401px) {
                font-size: 11px;
            }
        }
        .shadow{
            border-radius: 0;
            display: block;
            padding: 0;
            position: absolute;
            z-index: 2;
            background-color: #07070775;
            padding: 100%;
        }
    }
}
