.wrapper{
        .cover{
        padding: 20px;
        border: 0 solid #E5E7EB;
        background: linear-gradient(90deg, #E5FA39 0%, #FC8B48 100%);
        display: flex;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        align-items: center;
        .iconContainer{
            background: #fff;
            padding: 20px 20px 15px;
            border-radius: 50%;
        }
        .text{
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .title{
                font-size: 22px;
            }
            .subTitle{
                font-size: 20px;
            }
            .button{
                padding-top: 20px;
                .btnFirst{
                    background-color: #fff;
                    color: #000;
                }
                display: flex;
                button{
                    font-size: 16px;
                    margin-left: 16px;
                    padding: 9px 14px;
                    border-radius: 30px;
                    border: 2px solid #FFF;
                }
            }
        }
        .img{
            width: 38%;
            img{
                max-width: 100%;
            }
        }
    }
    .rowContainer{
        padding: 20px;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
        .row{
            display: flex;
            justify-content: center;
        }
    }
        .loader{
        padding: 20%;
        display: flex;
        justify-content: center;
    }
        .nothing{
        padding: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-size: 18px;
    }
}