.wrapper{
    background-color: black;
    padding: 64px 80px;
    color: #9CA3AF;
    @media (max-width: 680px) {
        padding: 2% ;
    }
    a{
        text-decoration: none;
        color: #9CA3AF;
        font-size: 16px;
    }
    .top{
        display: flex;
        justify-content: space-around;
        margin-bottom: 48px;
        .columnFirst{
            display: flex;
            flex-direction: column;
            gap:18px;
            font-size: 16px;
            p{
                @media (max-width: 680px) {
                    display: none;
                }
            }
            img{
                width: 108px;
                height: 48px;
            }
            .socialMedia{
                display: flex;
                gap: 11px;
            }
        }
        .columnSecond{
         @media (max-width: 1280px) {
            display: none;
        }
            .title{
                font-size: 18px;
                color: #fff;
                margin-bottom: 16px;
            }
            div{
                display: flex;
                flex-direction: column;
                gap: 11px;
            }
        }
        .columnThird{
        @media (max-width: 1280px) {
            display: none;
        }
            .title{
                font-size: 18px;
                color: #fff;
                margin-bottom: 16px;
            }
            div{
                display: flex;
                flex-direction: column;
                gap: 11px;
            }
        }
        .columnFourth{
            .title{
                font-size: 18px;
                color: #fff;
                margin-bottom: 16px;
                @media (max-width: 680px) {
                    padding-top: 15px ;
                }
            }
            ul{
                display: flex;
                flex-direction: column;
                gap: 11px;
            }
        }
    }
    .bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        .line{
            height: 2px;
            width: 100%;
            margin-bottom: 33px;
            background-color: #1F2937;
        }
    }
}