.wrapper{
    .row{
        padding:10px 45px;
        display: flex;
        justify-content: space-between;
        background-color: black;
        color: #fff;
        .left{
            display: flex;
            gap: 47px;
            .logo{
                width: 108px;
                height: 48px;
                text-decoration: none;
                list-style: none;
            }
            .link{
                padding: 20px 0;
            }
            a{
                color: #fff;
                text-decoration: none;
            }
        }
        .right{
            .adminText{
                background-color: #FB6D41;
                padding: 8px;
                border-radius: 4px;
            }
            display: flex;
            padding: 20px 0;
            gap: 16px;
            a{
                position: relative;
                .likeCouner{
                    position: absolute;
                    z-index: 4;
                    top: -9px;
                    right: -6px;
                    padding:2px 5.5px;
                    background-color: red;
                    color: #fff;
                    border-radius: 10px;
                    font-size: 11px;
                }
            }
        }
    }
}