
.nothing{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: 18px;
width: 100%;
height: 100%;
.nothingItem{
    text-align: center;
    p{
        color: #000;
    }
}
}

.wrapper{
    padding: 5px;
    display: flex;
    justify-content: center;
    border: 2px solid #64626235;
    border-radius: 10px;
    .container{
        display: flex;
        width: 100%;
        height: 100%;
        color: #000;
        justify-content: space-between;
        align-items: center;
        .image{
            position: relative;
            max-width: 17%;
            height: 100%;
            border-radius: 10px;
            overflow: hidden;
            background-color: #888585;
            flex: 0 0 45%;
            @media (max-width: 820px) {
                max-width: 20%;
            }
            @media (max-width: 620px) {
                max-width: 30%;
            }
            .favorite{
                cursor: pointer;
                position: absolute;
                background: #fff;
                border-radius: 50px;
                padding: 5px 5px 2px;
                box-shadow: 0 0 5px 1px #000;
                right: 0;
                margin: 5px 5px 0 ;
            }
            img{
                object-fit: cover;
                display: block;
                max-width: 100%;
                height: 100%;
            }
        }
        .quantity{
            flex: 0  0 10%;
            .container{
                display: block;
                .content{
                    display: flex;
                    justify-content: center;
                    overflow: hidden;
                    border-radius: 10px;
                    .count{
                        background-color: #b1b0b0;
                        display: flex;
                        align-items: center;
                        font-size: 22px;
                        padding: 0 4px;
                        border-left: 1px solid #ffffffa4;
                        border-right: 1px solid #ffffffa4;
                            @media (max-width: 720px) {
                                font-size: 16px;
                            }
                    }
                    button{
                        background-color: transparent;
                        border: 0;
                        padding: 0;
                        font-size: 28px;
                        padding: 5px;
                        cursor: pointer;
                        background-color: #b1b0b0;
                        width: 100%;
                        @media (max-width: 720px) {
                            font-size: 22px;
                            padding: 0;
                        }
                    }
                    span{
                        padding: 5px;
                        display: block;
                        border: 1px solid #000;
                        border-bottom: 0;
                        border-top: 0;
                        font-size: 28px;
                        background-color: #b1b0b0;
                        @media (max-width: 720px) {
                            font-size: 22px;
                            padding: 0;
                        }
                    }
                }
            }
        }

        .info{
            font-size: 18px;
            color: #fff;
            display: flex;
            align-items: center;
            gap: 10px;
            color: #000;
            flex: 0 0 45%;;
            @media (max-width: 820px) {
                flex-direction: column;
                align-items: flex-end;
                gap:5px;
                font-size: 14px;
            }
                 @media (max-width: 420px) {
                    gap: 2px;
                    font-size: 12px;
                    align-items: center;
                }
            .title{
                border: 1px solid #fff;
                padding: 5px 8px;
                border-radius: 8px;
                font-size: 22px;
                @media (max-width: 620px) {
                    padding: 3px 5px;
                    font-size: 16px;
                }
                .palette{
                    display: flex;
                    gap: 5px;
                    align-items: center;

                    .paletteItem{
                        border-radius: 5px;
                        cursor: pointer;
                        width: 20px;
                        height: 20px;
                        color: transparent;
                        border: 0;
                        border: 1px solid #000;
                    }
                    .numberItem{
                        color: #000 ;
                        cursor: pointer;
                        border: 1px solid #ffffff;
                    }
                }
            }

            .priceContainer{
                display: flex;
                align-items: center;
                gap: 10px;
                @media (max-width: 620px) {
                    gap: 2px;
                    font-size: 12px;
                }
                @media (max-width: 420px) {
                    flex-direction: column;
                }
                button{
                    border: 0;
                    padding: 9px 10px;
                    border-radius: 8px;
                    background-color: #E5FA3C;
                    @media (max-width: 620px) {
                        padding: 3px 5px;
                    }
                }
            }
        }
    }
}