.wrapper{
    margin-bottom: 5%;
    @media (max-width: 680px) {
    margin-bottom: 0;
    }
    .cover{
        padding: 5% 0 ;
        background: linear-gradient(90deg, #E5FA39 0%, #FC8B48 100%);
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 11px;
        
            color: #252525;
            word-spacing: 0.1em;
            .title{
                font-weight: 400;
                font-size: 4vw;
                text-align: center;
                @media (max-width: 1280px) {
                    font-size: 6vw;
                }
            }
            .subTitle{
                font-weight: 400;
                font-size: 2vw;
                width: 80%;
                text-align: center;
                @media (max-width: 1280px) {
                    width: 100%;
                    font-size: 4vw;
                }                
            }
    }
    .container{
        padding: 0 5%;
        .main{
            border-radius: 0 0 30px 30px;
            background-color:rgba(197, 197, 197, 0.495);
            padding: 5% 0 1%;
            @media (max-width: 700px) {
                border-radius: 0;
                padding: 5% 0;
            }
            .imageContainer{
                border-radius: 20px;
                margin: 0 auto;
                width: 80%;
                overflow: hidden;
                max-height: 450px;
                img{
                    width: 100%;
                }
                @media (max-width: 700px) {
                    width: 90%;
                }
            }
            .description{
                margin-top: 20px;
                 @media (max-width: 620px) {
                    margin-top: 10px;
                }
                border-radius: 20px;
                padding: 2% 4% ;
                display: flex;
                justify-content: space-between;
                gap: 15px;
                @media (max-width: 700px) {
                    gap: 0;
                    justify-content: center;
                    .addressContainer{
                        border-bottom-right-radius: 0;
                        border-top-right-radius: 0;
                        border-bottom-left-radius: 10px;
                        border-top-left-radius: 10px;
                    }
                    .timeContainer{
                        border-bottom-left-radius: 0;
                        border-top-left-radius: 0;
                        border-bottom-right-radius: 10px;
                        border-top-right-radius: 10px;
                    }
                    .phoneContainer{
                        border-radius: 0;
                    }
                }
                div{
                    display: flex;
                    gap: 6px;
                    flex: 30%;
                    justify-content: center;
                    align-items: center;
                    background-color: #fff;
                    padding: 0.2em 0.4em;
                    border-radius: 10px;
                    @media (max-width: 700px){
                        justify-content: start;
                    }
                    @media (max-width: 700px){
                        flex-direction: column;
                    }
                    svg{
                        width: 18px;
                        height: 18px;
                    }
                    p{
                        margin-top: 2px;
                        color: #000000b0;
                        font-size: 1.75vw;
                        font-weight: 700;
                        @media (max-width: 700px){
                            text-align: center;
                            font-size: 2vw;
                        }
                        @media (max-width: 700px){
                            text-align: center;
                            font-size: 2.5vw;
                        }
                    }
                }

            }
        }

        .right{
            padding: 2%;
            margin-top: 3%;
            margin-left: 3%;
            margin-right: 3%;
            border-radius: 25px;
            background-color:rgba(197, 197, 197, 0.495);
            display: flex;
            gap: 20px;
            transition: 0.5s;
            .imageContainer{
                border-radius: 25px;
                width: 30%;
                overflow: hidden;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            .description{
                margin-top: 20px;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                div{
                    display: flex;
                    gap: 6px;
                    align-items: center;
                    padding: 8px;

                    p{
                        margin-top: 2px;
                        color: #000000b0;
                        font-size: 2vw;
                        font-style: normal;
                        font-weight: 700;
                    }
                }

            }
        }
            .right:hover{
                margin-left: 0;
                margin-right: 0;
            }
        .left{
            margin-top: 3%;
            margin-left: 5%;
            margin-right: 5%;
            border-radius: 25px;
            background-color:rgba(197, 197, 197, 0.495);
            display: flex;
            gap: 20px;
            justify-content: space-between;
            padding: 2%;
            transition: 0.5s;
            .imageContainer{
                order: 1;
                border-radius: 25px;
                width: 30%;
                overflow: hidden;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            .description{
                order: 0;
                margin-top: 20px;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                div{
                    display: flex;
                    gap: 6px;
                    align-items: center;
                    padding: 8px;

                    p{
                        margin-top: 2px;
                        color: #000000b0;
                        font-size: 2vw;
                        font-style: normal;
                        font-weight: 700;
                    }
                }

            }
        }
        .left:hover{
                margin-left: 0;
                margin-right: 0;
            }
    }

}