.wrapper{
    min-height: 100%;
    a{
        text-decoration: none;
    }
    button{
        background: transparent;
        border: none;
    }
    .loader{
        padding: 20%;
        display: flex;
        justify-content: center;
    }
    .cover{
        border: 0 solid #E5E7EB;
        background: linear-gradient(90deg, #E5FA39 0%, #FC8B48 100%);
        display: flex;
        padding: 0 3%;
        justify-content: space-around;
        font-weight: 400;
        @media (max-width: 1280px) {
            padding: 3%;
        }
        @media (max-width: 520px) {
            padding: 5% 3%;
        }
        .text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #252525;
            word-spacing: 0.1em;
            .title{
                margin: 0;
                font-size: 4vw;
                @media (max-width: 1280px) {
                    text-align: center;
                    width: 100%;
                    font-size: 6vw;
                }
                @media (max-width: 460px) {
                    font-size: 22px;
                } 
            }
            .subTitle{
                font-size: 2vw;
                width: 80%;
                @media (max-width: 1280px) {
                    text-align: center;
                    width: 100%;
                    font-size: 4vw;
                } 
                @media (max-width: 680px) {
                    text-align: center;
                    width: 100%;
                }
                @media (max-width: 460px) {
                    font-size: 18px;
                }                 
            }
            .button{
                margin-top: 3.5%;
                display: flex;
                gap: 1.5%;
                @media (max-width: 1280px) {
                    display: flex;
                    justify-content: center;
                } 
                .btnFirst{
                    background-color: #fff;
                    font-size: 1.7vw;
                    padding: 2% 2.5%;
                    border-radius: 30px;
                    border: 2px solid #FFF;
                    color: #2f2e2e;
                    font-weight: 400;
                    @media (max-width: 680px) {
                        text-align: center;
                        font-size: 16px;
                    } 
                }
                .btnSecond{
                    color: #2f2e2e;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    button{
                        font-weight: 400;
                        font-size: 1.7vw;
                    @media (max-width: 680px) {
                        text-align: center;
                        font-size: 16px;
                    } 
                    }
                    padding: 2% 2.5%;
                    border-radius: 30px;
                    border: 2px solid #FFF;
                }
            }
        }
        .img{
            @media (max-width: 1280px) {
                display: none;
            }
            width: 52%;
            img{
                display: block;
                margin-top: 5px;
                width: 100%;
            }
        }
    }
    .catalog{
        padding: 4% 2% 0 4%;
        .text{
            display: flex;
            flex-direction: column;
            gap: 8px;
            .title{
                color: #000;
                text-align: center;
                font-style: normal;
                font-weight: 400;
                font-size: 3vw;
                @media (max-width: 1280px) {
                    text-align: center;
                    font-size: 6vw;
                }
                @media (max-width: 460px) {
                    font-size: 18px;
                } 
            }
            .subTitle{
                color: #4B5563;
                text-align: center;
                font-style: normal;
                font-weight: 400;
                font-size: 2vw;
                padding: 0 5px;
                @media (max-width: 1280px) {
                    text-align: center;
                    width: 100%;
                    font-size: 4vw;
                }
                @media (max-width: 460px) {
                    font-size: 16px;
                }
            }
        }
        .container{
            display: flex;
            justify-content: center;
            gap: 22px;
            flex-wrap: wrap;
            padding: 20px ;
             @media (max-width: 620px) {
                padding: 20px 5px;
            }
            align-items: stretch;
            .rowContainer{
                display: flex;
                .row{
                    display: flex;
                    max-width: 100%;
                    position: relative;
                    .remove{
                        cursor: pointer;
                        position: absolute;
                        z-index: 5;
                        top: 3%;
                        left: 5%;
                        color: #fff;
                        font-size: 14px;
                        border-radius: 10px;
                        padding: 5px;
                        :hover{
                            background-color: red;
                            border-radius: 10px;
                            padding: 5px;
                            transition: 0.2s;
                        }
                    }
                    .update{
                        cursor: pointer;
                        position: absolute;
                        z-index: 5;
                        top: 3.5%;
                        right:5%;
                        color: #fff;
                        font-size: 14px;
                        border-radius: 10px;
                        padding: 5px;
                        :hover{
                            background-color: #E5E7EB;
                            border-radius: 10px;
                            padding: 5px;
                            transition: 0.2s;
                        }
                    }
                }
        }
            .createType{
                cursor: pointer;
                padding: 0 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color:#fb9a8d ;
                border: 6px solid #fb9a8d ;
                border-radius: 10px;
                background-color: #e8e8e8;
                p{
                    text-align: center;
                }
            }
        }
    }
    .category{
        padding-top: 22px;
        .header{
            display: flex;
            flex-direction: column;
            align-items: center;
            .title{
                color: #000;
                text-align: center;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 40px; 
                @media (max-width: 1280px) {
                    text-align: center;
                    font-size: 6vw;
                }
            }
            .subTitle{
                color: #4B5563;
                text-align: center;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px; /* 140% */
                 @media (max-width: 1280px) {
                    text-align: center;
                    width: 100%;
                    font-size: 4vw;
                } 
            }
        }
        .container{
            display: flex;
            justify-content: center;
            gap: 2%;
            padding: 64px 20px 42px;
            div{
                position: relative;
                width: 20%;
                overflow: hidden;
                border-radius: 8% ;
                box-shadow: -1px 0px 8px 7px rgba(34, 60, 80, 0.2);
                img{
                    max-width: 100%;
                }
                .text{
                    position: static;
                    width: 100%;
                    padding: 24px;
                    overflow: visible;
                    border-radius: 0 0 0 0;
                    box-shadow: 0;
                    h4{
                        color: #000;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 28px; /* 140% */
                    }
                    p{
                        color: #4B5563;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        margin-bottom: 5px;
                    }
                    span{
                        color: #F94F39;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }
                }
            }
        }
    }
    .popular{
        padding: 4% 0% 0;
        .header{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            .title{
                color: #000;
                text-align: center;
                font-style: normal;
                font-weight: 400;
                font-size: 3vw;
                @media (max-width: 1280px) {
                    text-align: center;
                    font-size: 6vw;
                }
                @media (max-width: 460px) {
                    font-size: 18px;
                } 
            }
            .subTitle{
                color: #4B5563;
                text-align: center;
                font-style: normal;
                font-weight: 400;
                font-size: 2vw;
                
                @media (max-width: 1280px) {
                    text-align: center;
                    width: 100%;
                    font-size: 4vw;
                }
                @media (max-width: 460px) {
                    font-size: 16px;
                    padding: 0 5px;
                }
            }
        }
        .container{
            margin-top: 5px;
            display: flex;
            gap: 5%;
            padding: 2% 0% 4%;
            overflow-x: scroll;
            align-items: stretch;
            background-color: #0000002c;
            .rowContainer{
                display: flex;
                .row{
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                }
            }
        }
    }
}
