
.wrapper{
    margin-top: 20px;
    height: 100%;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: -1px 0px 8px 7px rgba(34, 60, 80, 0.2);
    background-color: #0000009c;
    max-width: 280px;
    overflow: hidden;
    box-sizing: border-box;
        @media (max-width: 620px) {
        width: 170px;
    }
        img{
            object-fit: cover;
            width: 280px;
            height: 200px;
            @media (max-width: 620px) {
                width: 170px;
                height: 150px;
            }
        }
    .text{
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 1vw;
        .palette{
            display: flex;
            gap: 5px;
            flex-wrap: wrap;
            height: 30px;
            overflow: scroll;
            .paletteContainer{
                input{
                        caret-color: transparent !important;
                }
                .paletteItem{
                    cursor: pointer;
                    width: 10px;
                    height: 10px;
                    color: transparent;
                    border: 0;
                }
                .paletteChosen{
                    
                    cursor: pointer;
                    width: 10px;
                    height: 10px;
                    color: transparent;
                    border: 1px solid #111
                }
                .numberItem{
                    cursor: pointer;
                    border: 1px solid #ffffff;
                }
                .numberChosen{
                    cursor: pointer;
                    border: 1px solid #FB6D41;
                }
                .noPalettes{
                    height: 37px;
                    color: #ffffff1c;
                }
            }
        }
        h4{
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            min-height: 30px;
            @media (max-width: 1280px) {
                text-align: center;
            }
             @media (max-width: 620px) {
                font-size: 14px;
            }
        }
        p{
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }
        span{
            color: #F94F39;
            font-size: 16px;
            font-weight: 600;
        }
    
        .priceContainer{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 5px;
                @media (max-width: 1280px) {
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 1.5vw;
                }
                span{
                color: #FB6D41;
                font-weight: bold;
                font-size: 18px;
                @media (max-width: 620px) {
                    font-size: 12px;
                }
                }
                button{
                    border-radius: 8px;
                    background-color: #FB6D41;
                    padding: 5px;
                    color: #fff;
                @media (max-width: 620px) {
                    font-size: 12px;
                }
                }
                button:active{
                    background-color: #fff;
                    color:#FB6D41 ;
                }
           }
    }
}

