.searchBlock{
    position: absolute;
    z-index: 10;
    top: 0;left: 0;
    width: 100%;
    display: flex;
    height: 300px;
    overflow: scroll;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 45px;
    flex-direction: column;
    @media (max-width: 460px) {
    width: 125%;
    left: -6%;
}
    .loader{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 18px;
        p{
            color: #000;
        }
    }
    .nothing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 100%;
    height: 100%;
    .nothingItem{
        text-align: center;
        p{
            color: #000;
        }
    }
}
}
.close{
    display: none;
}
.field{
    width: 100%;
        @media (max-width: 1280px) {
            width: 90%;
        }
    .item{
        border: 1px solid #bab5b5;
        background-color: #000;
        box-sizing: border-box;
        border-radius: 10px;
        width: 100%;
        font-size: 18px;
        padding: 1% 2% ;
        transition: 0.6s;
    }
    .item:focus{
        background-color: #fff;
    }
}
.wrapper{
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color: #FB6D41;
    border: 1px solid #64626235;
    .container{
        display: flex;
        width: 90%;
        height: 100%;
        color: #000;
        justify-content: space-between;
        align-items: center;
        .image{
            position: relative;
            max-width: 17%;
            height: 100%;
            border-radius: 10px;
            overflow: hidden;
            background-color: #888585;
            @media (max-width: 820px) {
                max-width: 20%;
            }
            @media (max-width: 620px) {
                max-width: 30%;
            }
            .favorite{
                cursor: pointer;
                position: absolute;
                background: #fff;
                border-radius: 50px;
                padding: 5px 5px 2px;
                box-shadow: 0 0 5px 1px #000;
                right: 0;
                margin: 5px 5px 0 ;
            }
            img{
                object-fit: cover;
                display: block;
                max-width: 100%;
                height: 100%;
            }
        }
        .palette{
            width: 50px;
            display: flex;
            flex-wrap: wrap;
                .paletteContainer{  
                    .paletteItem{
                        cursor: pointer;
                        width: 5px;
                        height: 5px;
                        color: transparent;
                        border: 0;
                    }
                    .paletteChosen{
                        cursor: pointer;
                        width: 5px;
                        height: 5px;
                        color: transparent;
                        border: 1px solid #111
                    }
                    .numberItem{
                        cursor: pointer;
                        border: 1px solid #ffffff;
                    }
                    .numberChosen{
                        cursor: pointer;
                        border: 1px solid #FB6D41;
                    }
                    .noPalettes{
                        height: 37px;
                        color: #ffffff1c;
                    }
                }
        }
        .info{
            font-size: 18px;
            color: #fff;
            display: flex;
            align-items: center;
            gap: 10px;
            @media (max-width: 820px) {
                flex-direction: column;
                align-items: flex-end;
                gap:5px;
                font-size: 14px;
            }
                 @media (max-width: 420px) {
                    gap: 2px;
                    font-size: 12px;
                }
            .title{
                border: 1px solid #fff;
                padding: 5px 8px;
                border-radius: 8px;
                @media (max-width: 620px) {
                    padding: 3px 5px;
                }
            }
            .priceContainer{
                display: flex;
                align-items: center;
                gap: 10px;
                @media (max-width: 620px) {
                    gap: 2px;
                    font-size: 12px;
                }
                @media (max-width: 420px) {
                    flex-direction: column;
                }
                button{
                    border: 0;
                    padding: 9px 10px;
                    border-radius: 8px;
                    background-color:#ffffff;
                    color: #FB6D41;
                    @media (max-width: 620px) {
                        padding: 3px 5px;
                    }
                }
            }
        }
    }
}